@import url('https://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic');

body,html{
  margin: 0;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

*{
  outline: none;
  box-sizing: border-box;
}